*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}
html,
body{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.nav{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.left{
    font-size: 25px;
    font-family: cursive;
    color: #fff;
    rotate: -3deg;
}
.right{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

#link{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "poppins";
}
h1{
    font-size: 55px;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 150px;
    margin-left: 250px;
}

button{
    background-color: transparent;
    border: none;
    color: #fff;
    height: 90px;
    width: 250px;
    margin-inline-start: 15px ;
    margin-top: 35vh;
}
button a{
    border-radius: 15px;
    text-decoration: none;
    background-color: #fff;
    color: rgb(43, 212, 170);
    font-size: 25px;
    font-family: "poppins";
    font-weight: 600;
    padding: 20px;
}